@{
    ViewBag.Title = "About";
}
<h2>Cherry's Cakes</h2>
<h3>INTERNAL USE ONLY</h3>

<p>This Application is inteded for internal use only. Only authorized accounts will be able to access the current customers, orders, and employees.</p>
