@{
    ViewBag.Title = "Contact";
}
<h2>Cherry's Cakes Contacts</h2>
<h3>Contact Us</h3>

<address>
    One Cherry Lane<br />
    Indianapolis, IN 46077<br />
    <abbr title="Phone"></abbr>
    123.456.7891
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:jcbstull@gmai.com">jcbstull@gmai.com</a><br />
</address>