@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Cherry's Cakes</h1>
    <p class="lead">Cherry's Cakes is a leading cake maufacturer known world wide.</p>
    <p><a href="https://localhost:44378/Cake" class="btn btn-primary btn-lg">View Products &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>View Products</h2>
        <p>
            Cherry's Cakes Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <p><a class="btn btn-default" href="https://localhost:44378/Cake">Cakes</a></p>
    </div>
    <div class="col-md-4">
        <h2>View Employees</h2>
        <p>Cherry's Cakes Cupcake ipsum dolor sit amet cupcake fruitcake chocolate bar jelly. Marshmallow soufflé pie. 
        Powder jelly-o brownie bear claw. 
        Muffin oat cake ice cream macaroon sesame snaps tart oat cake.</p>
        <p><a class="btn btn-default" href="https://localhost:44378/Employee">Employees</a></p>
    </div>
    <div class="col-md-4">
        <h2>View Customers</h2>
        <p>Cherry's Cakes Halvah jelly beans marshmallow. Soufflé jelly marshmallow gummies sugar plum ice cream pastry lemon drops lollipop. 
        Cotton candy gummi bears pudding oat cake tiramisu. Sweet roll soufflé candy bonbon marzipan donut sugar plum.</p>
        <p><a class="btn btn-default" href="https://localhost:44378/Customer">Customers </a></p>
    </div>
</div>